
nav li{
  display: inline-block;
  padding-left:70%;
}

#logo{
  padding-right: 80%;
  max height:50px;
  max-width: 100px;
  z-index: 1000;
  display: block;
  position: absolute;
}

#headpic{
  z-index:0;
  position: absolute;
  display: block;
  position: absolute;
  width:98%;
}

header h1{
  padding-top: 12%;
  padding-left: 25%;
  display: block;
  position: absolute;
  z-index: 1000;
  font-size: 80px;
  color: white;
font-family: 'Homenaje', sans-serif;
}
header h5{
  padding: 0;
  display: block;
  position: absolute;
  z-index: 1000;
  padding-top: 22%;
  padding-left: 35%;
  color:#000099;
}

header a{
  padding-left: 80%;
  max height:20px;
  z-index: 1000;
  display: inline-block;
  position: relative;
  color:#000099;
  text-decoration: none;
  margin: 0;
}
.columns{
  width:80%;
  padding-top: 500px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.column1 {
  display: inline-block;
  width:55%;
  vertical-align: top;
  margin: 0 auto;
padding-left: 10%;
}
div section> h1, h4{
  color:##003366;
  font-size: 40px;
  font-family: 'Homenaje', sans-serif;
}

h4{
  margin:0 auto;
  text-align: center;
}

div section img{
  max-width: 5%;
  padding:  0 0 0;
  margin: 0;
  top: 10px;
}

div section h5{
  color:#0000FF;
  font-weight: bold;
  font-family: 'Homenaje', sans-serif;
  display: inline-block;
  top: -15px;
  padding: o;
  margin: 0;
}

div section h3{
  color:#0000FF;
  border-left: 1px solid;
  border-top-width: thin;
  padding-left: 8px;
  padding-bottom: 5px;
  font-family: 'Homenaje', sans-serif;

}

div section p{
  color:grey;
  display: inline-block;

}

div section p span{
font-weight: bold;
display: inline-block;
padding: 0;
margin: 0;

}

.column2{
  display: inline-block;
  width:30%;
  vertical-align: top;
  margin: 0 auto;
  text-align: center;
}

#circlepic{
  max-width: 100px;
  padding-top: 25px;
  display: block;
  margin: 0 auto;
}

div section section > p {
  display: inline-block;
  margin: 0 auto;
  color:d3d3d3;
  font-size: 10px;
}

div section section{
  margin: 0 auto;
  display: inline-block;
  padding-left: 10px;
}
div section section a{
  margin: 0 auto;
  display: inline-block;
  color:grey;
}
#ad{
  max-width: 300px;
  margin: 0 auto;
  display: inline-block;
}

#aboutlink{
  color:grey;
  padding-left: 185px;
  font-family: 'Homenaje', sans-serif;
  text-decoration: underline;
}

#sidebar{
  font-size: 10px;
}

.image {
  width: 21%;
  margin:0auto;
  display: inline-block;
  vertical-align: top;
  opacity: .5;
  color:white;
}
/*.one, .two, .three, .four img:hover{
  opacity:1;
}*/

.squarepics{
  height:265px;
  width: 1520px;
  margin:0 auto;
  background-color:#003366;
}
.squarepics a{
  color: white;
  opacity: 0;
  height: 265px;
  width:265px;
  padding: 0;
  margin: 0;

}
.squarepics a:hover{
  opacity: .7;
  color: #003366;
}

  /*max-height: 200px;
  display: inline-block;
  margin-left: -4px;
  padding-bottom: 200px;
  position: static;
  opacity:0.7;
  filter:alpha(opacity=60)*/


.one {
  background-image: url("https://docs.google.com/uc?id=0B7T_dEtTqCABOVktanhPYVZIeHc");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:265px;
}

.two {
  background-image: url("https://docs.google.com/uc?id=0B7T_dEtTqCABbGhCLW45dFROdnM");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:265px;

}

.three {
  background-image: url("https://docs.google.com/uc?id=0B7T_dEtTqCABSjRIT05TbjlvdU0");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:265px;

}

.four {
  background-image: url("https://docs.google.com/uc?id=0B7T_dEtTqCABeXJhdHpMb3dQUzg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:265px;

}
/*
 h2{
  display: inline-block;
  z-index: 999;
  margin:0;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding:200px 0 0 100px;
  color:white;
  font-family: 'Homenaje', sans-serif;
  vertical-align: top;
}*/

footer{
  background-color: #003366;
  margin: 0;
clear: both;
}

footer p{
  display: inline-block;
  margin: 0;
  padding-bottom: 10px;
  color: white;

}

footer img{
  max-height: 100px;
  padding-top: 30px;
  padding-left: 30px;
  display: inline-block;
  margin: 0;

}
/*.squarepics img{
  width: 100%;
  margin:0auto;
  opacity: .5;
  vertical-align: top;

}
.squarepics{
  background-color: #003366;
  width: 100%;
  height:300px;
  vertical-align: top;

}

.squarepics h2 a{
  font-size: 30px;
  color:white;
  margin:0 auto;
  padding: 0 0px 0 0px;
  font-family: 'Homenaje', sans-serif;\
  max-width: 24%;
}*/

footer ul {
  display: inline-block;
  margin: 0;
  color: white;
  padding-left: 40%;
  clear: both;

}
/*
.squarepics a, img:hover{
  opacity:1;
}*/

 /*background-color: #003366;
 width: 24%;
 height: 24%;
 margin: 0;
 display:inline-block;
 color: white;
 font-family: 'Homenaje', sans-serif;
 margin-left: -4px;*/




















c
