body{
  font-size: 1em;
}
nav li{
  display: inline-block;
  padding-left:70%;
}
nav ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: 'Homenaje', sans-serif;

}
nav ul{
  padding-left: 900px;
}

#logo{
  padding-right: 80%;
  max height:50px;
  max-width: 100px;
  z-index: 1000;
  display: block;
  position: absolute;
}

#headpic{
  z-index:0;
  position: absolute;
  display: block;
  position: absolute;
  width:98%;
}

header h1{
  padding-top: 12%;
  padding-left: 25%;
  display: block;
  position: absolute;
  z-index: 1000;
  font-size: 5em;
  color: white;
font-family: 'Homenaje', sans-serif;
}
header h5{
  padding: 0;
  display: block;
  position: absolute;
  z-index: 1000;
  padding-top: 22%;
  padding-left: 35%;
  color:#000099;
}

header a{
  padding-left: 80%;
  max height:20px;
  z-index: 1000;
  display: inline-block;
  position: relative;
  color:#000099;
  text-decoration: none;
  margin: 0;
}
.columns{
  width:80%;
  padding-top: 500px;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.column1 {
  display: inline-block;
  width:55%;
  vertical-align: top;
  margin: 0 auto;
padding-left: 10%;
}
div section> h1, h4{
  color:##003366;
  font-size: 40px;
  font-family: 'Homenaje', sans-serif;
}

h4{
  margin:0 auto;
  text-align: center;
}

div section img{
  max-width: 5%;
  padding:  0 0 0;
  margin: 0;
  top: 10px;
}

div section h5{
  color:#0000FF;
  font-weight: bold;
  font-family: 'Homenaje', sans-serif;
  display: inline-block;
  top: -15px;
  padding: o;
  margin: 0;
}

div section h3{
  color:#0000FF;
  border-left: 1px solid;
  border-top-width: thin;
  padding-left: 8px;
  padding-bottom: 5px;
  font-family: 'Homenaje', sans-serif;

}

div section p{
  color:grey;
  display: inline-block;

}

div section p span{
font-weight: bold;
display: inline-block;
padding: 0;
margin: 0;

}

.column2{
  display: inline-block;
  width:30%;
  vertical-align: top;
  margin: 0 auto;
  text-align: center;
}

#circlepic{
  max-width: 100px;
  padding-top: 25px;
  display: block;
  margin: 0 auto;
}

div section section > p {
  display: inline-block;
  margin: 0 auto;
  color:d3d3d3;
  font-size: 10px;
}

div section section{
  margin: 0 auto;
  display: inline-block;
  padding-left: 10px;
}
div section section a{
  margin: 0 auto;
  display: inline-block;
  color:grey;
}
#ad{
  max-width: 300px;
  margin: 0 auto;
  display: inline-block;
}

#aboutlink{
  color:grey;
  padding-left: 185px;
  font-family: 'Homenaje', sans-serif;
  text-decoration: underline;
}

#sidebar{
  font-size: 10px;
}

.image {
  width: 21%;
  margin:0auto;
  display: inline-block;
  vertical-align: top;
  opacity: .3;
}
.image:hover{
  opacity: 1;
}
.squarepics{
  height:265px;
  width: 1520px;
  margin:0 auto;
  background-color:#003366;
}

.squarepics a{
  color: white;
  opacity: 1;
  height: 265px;
  width:265px;
  padding: 0;
  margin: 0;
  color: #003366;
  font-size: 34px;
}
.squarepics a:hover{
  color:white;
}
h2 a:hover{
  color: white;
}
h2 a{
  color: #003366;
  font-family: 'Homenaje', sans-serif;
  text-align: bottom-left;
  opacity: 0;
}
.one {
  background-image: url("https://docs.google.com/uc?id=0B7T_dEtTqCABOVktanhPYVZIeHc");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:265px;
}

.two {
  background-image: url("https://docs.google.com/uc?id=0B7T_dEtTqCABbGhCLW45dFROdnM");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:265px;
}

.three {
  background-image: url("https://docs.google.com/uc?id=0B7T_dEtTqCABSjRIT05TbjlvdU0");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:265px;

}

.four {
  background-image: url("https://docs.google.com/uc?id=0B7T_dEtTqCABeXJhdHpMb3dQUzg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:265px;
}

footer{
  background-color: #003366;
  margin: 0;
clear: both;
}

footer p{
  display: inline-block;
  margin: 0;
  padding-bottom: 10px;
  color: white;
}

footer img{
  max-height: 100px;
  padding-top: 30px;
  padding-left: 30px;
  display: inline-block;
  margin: 0;
}

footer ul {
  display: inline-block;
  margin: 0;
  color: white;
  padding-left: 40%;
  clear: both;
}
footer ul li{
  display: inline-block;
  padding: 0 0 0 100px;
  margin: 0;
}
footer img{
  max-height: 60px;
}
/*rgggrgrgrffffffffffffffffffffffffffff*/


@media (max-width:400px){
  body{
    font-size: 1em;
  }
  #headpic{
    width:100%;
  }
nav ul{
  padding: 0;
  margin: 0;
}
#logo{
  margin: 0auto;
  padding: 30px 0 0 140px;
}
header h1{
  font-size: 2rem;
  color:##003366;

}
header h5{
  font-size: .8rem;
  margin: 0auto;
  padding: 90px 0px 0 75px;
  color:##003366;

}
.columns{
  width: 90%;
  margin: 0auto;
  padding-top: 130px;
}
.column1, .column2{
  width: 90%;
  padding-right: 10%;
  padding-top: -20%;
  margin: 0auto;
  color:##003366;

}
.column2{
  width: 90%;
  padding-left: 35px;
  margin: 0auto;
}
.squarepics{
  width: 95%;
  display: block;
  height: 980px;
}

.one, .two, .three, .four{
  width: 100%;
  height: 245px;
}
.one, .two, .three, .four a{
  width: 100%;
  height: 245px;
}
footer{
  width: 110%;
  color:##003366;
  display: block;
  font-family: Tahoma;
  font-size: .9rem;
  text-align: center;
  vertical-align: top;
  padding:0 0 50px 0;
}

.footer img{
  display: block;
  text-align: center;
  margin: 0auto;
}
footer nav ul li a{
  padding: 0;
  margin: 0;
  display: block;
  font-family: Tahoma;
  font-size: .9rem;
}
footer nav ul{
  padding: 30px 0 0 0;
}
footer nav ul li{
  padding: 0px 5px 0 5px;
  margin: 0;
  display: inline-block;
  font-family: Tahoma;
  font-size: .9rem;
  border-right: 1px solid white;
}

footer nav ul li:nth-child(4) {
  display: block;
  border: none;
}
footer img{
  padding-left: 180px;
  padding-bottom: 25px;
  display: block;
}
}
